@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

.suggested {
position: absolute;
top: 20px;
left: 20px;
background-color: #fdfdfd;
padding: 5px;
z-index: 100;
display: none;
box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
